div#carousel {
  height: 380px;
  width: 930px;
  margin: 0 auto;
  display: block;
  overflow: hidden;
  position: relative;

  div#carousel-container {
    white-space: nowrap;
    overflow-y: hidden;
    font-size: 0;
    transition: all 0.3s ease-in-out;

    div.carousel-slide {
      display: inline-block;
      position: relative;

      p.carousel-markup {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 5px;
        border-radius: 3px;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 14px;
      }

      img {
        height: 380px;
        width: 930px;
      }

    }

  }

  button.carousel-btn {
    position: absolute;
    height: 60px;
    width: 50px;
    padding: 5px;
    color: white;
    font-size: 14px;
    top: calc(50% - 30px);
    border: none;
    border-radius: 3px;
    background: transparent no-repeat center;
    background-size: 30px;
    cursor: pointer;
    transition: all 0.2s ease-in;
  }

  button.carousel-btn:hover {
    background-color: rgba(0,0,0,0.5);
  }

  button.carousel-btn:focus {
    outline: none;
  }

  button.carousel-btn.right {
    right: 5px;
    background-image: url(../img/svg/right-chevron.svg);
  }

  button.carousel-btn.left {
    left: 5px;
    background-image: url(../img/svg/left-chevron.svg);
  }

  div#carousel-map {
    position: absolute;
    bottom: 5px;
    left: calc(50% - 50px);
    width: 100px;
    background-color: rgba(0,0,0,0.5);
    height: 30px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 3px;
    text-align: center;

    div.carousel-dot {
      margin: 5px 2.5px;
      display: inline-block;
      height: 10px;
      width: 10px;
      border-radius: 5px;
      background-color: #444444;
      transition: all 0.2s ease-in;
      cursor: pointer;
    }

    div.carousel-dot.active {
      background-color: #FFFFFF;
    }

  }

}
